/*  RESET (PRONTO)  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* VARIÁVEIS DE COR CRIADAS */
:root {
    --bg: #F3F6FF;
    --primary: linear-gradient(90deg, #1900ff, #ff3cac);
    --pink: #ff3cac;
    --blue: #1900ff;
    --green: #22c55e;
    --gray: #6c6c6c;
    --card: rgba(255, 255, 255, 0.05);
    --border: rgba(255, 255, 255, 0.1);
    --text: #171717;

}

/* BODY (PRONTO) */
body {
    color: --text;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: var(--bg);
}

/* CONTAINER (BASE PRONTA) */
.container {
    max-width: 700px;
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.055);
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* HEADER */
.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1{
    background: var(--primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: 600;
}

.header p{
    color: var(--text);
}

/* CARDS */
.stats {
    margin: 20px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card{
    padding: 15px 50px;
    border-radius: 16px;
    min-width: 100px;
    flex: 1;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border);
    background: var(--card);
    backdrop-filter: blur(10px);
}

.card label{
    color: var(--gray);
}

.ativas h3{
    color: var(--blue);
}

.completas h3{
    color: var(--green);
}




/* ===============================
   ADD TASK (BASE)
=============================== */
.add-task {
    display: flex;
    gap: 10px;
}

.add-task input {
    flex: 1;
    padding: 10px;
}

.btn-add {
    cursor: pointer;
}

/* ===============================
   🎯 DESAFIO 5 (CSS)
   👉 Estilizar filtros
=============================== */
.filters {
    margin: 20px 0;
}

/* ===============================
   🎯 DESAFIO 6 (CSS)
   👉 Estilizar tarefas
=============================== */
.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Classe importante (JS usa!) */
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}